<div class="header">
	<div class="header_top">
		<div class="logo_wrap">
			<img src="../images/LOGO.svg" alt="">
		</div>

		<button class="Logout_btn">LOG OUT</button>
	</div>
	<div class="Sidebar">
		<ul>
			<li>
				<a href="../Inquiry.html">견적문의</a>
			</li>
			<li>
				<a href="../One_minute.html">1분 문답 시작하기</a>
			</li>
			<li>
				<a href="../Main_Banner.html">메인 베너</a>
			</li>
			<li>
				<a href="../Portfolio.html">포트폴리오</a>
			</li>
			<li>
				<a href="../column.html">칼럼</a>
			</li>
		</ul>
	</div>
</div>