<div class="footer">
	<div class="container2">
		<div class="ft_le">
			<a href="">
				<img src="../images/main/coworkerweb_footer_logo.svg" alt="">
			</a>
		</div>
		<div class="ft_ct">
			<ul>
				<li><span>회사명</span> (주)코워커넷</li>
				<li><span>대표이사</span> 김승혁</li>
				<li><span>주소</span> 서울특별시 은평구 진흥로 182 (풍안빌딩) 4층</li>
				<li><span>사업자등록번호</span> 642-81-02169</li>
				<li><span>통신판매 신고번호</span> 2022-서울은평-1960호</li>
			</ul>
		</div>
		<div class="ft_ri">
			<h2>고객센터</h2>
			<p class="Number">1588-0409</p>
			<p class="time">(평일 09:00 ~ 18:00)</p>
			<p class="Copyright">Copyright ©COWORKER Corp. All Right Reserved.</p>
		</div>
	</div>
</div>