<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<div class="header-wrap row-group">
	<div class="header-top-wrap row-group">
		<a href="/dashboard_index.html">
			<img src="images/logo_hd.png" alt="" class="logo">
		</a>
		<!-- <button class="header-gnb-btn" type="button">
			<i class="xi-hamburger-out"></i>
		</button> -->
	</div>
	<div class="header-menu-wrap row-group">
		<a href="/dashboard_index.html" class="header-menu-btn header-menu-btn_DB">
			<div class="icon"></div>
			<p class="txt">
				Dash <br>
				Board
			</p>
		</a>
		<button class="header-menu-btn header-menu-btn_MM" data-gnb="mainmenu_gnb">
			<div class="icon"></div>
			<p class="txt">
				Main <br>
				Menu
			</p>
		</button>
		<button class="header-menu-btn header-menu-btn_QF" data-gnb="quickfunction_gnb">
			<div class="icon"></div>
			<p class="txt">
				Quick <br>
				Function
			</p>
		</button>
		<button class="header-menu-btn header-menu-btn_ISS" data-gnb="information_gnb">
			<div class="icon"></div>
			<p class="txt">
				Information <br>
				for the Ship <br>
				System
			</p>
		</button>
	</div>

	<div class="header-btm-wrap row-group">
		<a href="HiSecure_account.html" class="header-btm-btn">
			<p class="account-type">
				Admin
			</p>
			<i class="xi-profile icon"></i>
			<p class="account-type account-id">
				AdminId
			</p>
		</a>
		<a href="./index.html" class="header-btm-btn">
			<i class="xi-log-out icon"></i>
		</a>
			
<!--		<button class="header-menu-btn dimming-btn col-group">
			Dimming
			<i class="xi-angle-down-min icon toggle-icon"></i>
		</button>-->
	</div>
</div>

<script>
	
</script>
