/*
//        You can use this file to modify the appearance of the PRTG web interface
//        as described in https://kb.paessler.com/en/topic/33
//
//        Please note that you are using an unsupported and deprecated feature.
//        Your changes will be broken or removed with future PRTG updates.
//
//        If you modify this file, PLEASE LET US KNOW what you're changing and why!
//        Just drop an email to support@paessler.com and help us understand your
//        needs. Thank you!
*/
.login-logo-box {
    width: 260px;
    margin: auto;
    padding-bottom: 25px;
    text-align: center
}

.prtg-logo-big {
    height: auto;
    width: 100%;
}
